<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>2021-07-09-cards</title>
</head>

<body>
    <div class="top-navbar">
        <a href="/index.html">Home</a>
    </div>

    <div class="card width-limiter">
        <div class="card-item">Card</div>
        <div class="card-item">Card</div>
        <div class="card-item">Card Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro nam architecto,
            earum enim consequuntur harum provident inventore perspiciatis omnis quibusdam dolorem asperiores error
            officia modi beatae molestias. Nam, repellendus.</div>
        <div class="card-item">Card Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ex nesciunt veniam
            laudantium. Inventore, quisquam.</div>
        <div class="card-item">Card</div>
    </div>
</body>

</html>