@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: "Poppins", sans-serif;
    color: #3c3b37;
    box-sizing: border-box;
    font-size: 1.6rem;
    background-color: #eee;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.nav {
    background-color: #fff;
    min-height: 5rem;
    box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: relative;
}

.nav-logo {
    font-size: 3rem;
    font-weight: 500;
}

.nav-btn {
    width: 5rem;
    cursor: pointer;
    padding: 1rem;
    position: absolute;
    top: 1.2rem;
    font-size: 2rem;
    right: 1rem;
    display: none;
}

.nav-link {
    padding: 0 1.5rem;
}
.nav-link:first-of-type {
    padding-left: 0;
}
.nav-link:last-of-type {
    padding-right: 0;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }

    .nav-logo {
        padding: 1.5rem 0;
        align-self: flex-start;
    }

    .nav-btn {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .nav-links-show {
        display: flex;
    }

    .nav-link {
        padding: 1rem 0;
    }
}
