@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.expc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 3rem);
  overflow: hidden;
  margin: 0;
}

.expc-container {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
}

.expc-panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 1s ease-in-out;
}

.expc-panel-text {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.7s;
}

.expc-panel.active {
  flex: 5;
}

.expc-panel.active .expc-panel-text {
  opacity: 1;
  transition: opacity 0.7s 0.7s;
}

@media (max-width: 480px) {
  .expc {
    width: 100vw;
  }

  .expc-panel:nth-of-type(4),
  .expc-panel:nth-of-type(5) {
    display: none;
  }
}
