@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
*:focus {
  outline: none;
}

:root {
  --base-background: #f8f8f8;
  --base-background-secondary: #ececec;
  --base-background-dark: #181818;
  --base-background-dark-secondary: #454545;
  --base-color-primary: #3c3b37;
  --base-color-secondary: #606060;
  --base-color-dark-primary: #fff;
  --base-color-dark-secondary: #aaa;
  --box-color: hsl(0, 0%, 73%);
  --box-color-dark: hsl(0, 0%, 33%);
  --blue-select: hsl(206, 100%, 33%);
  --blue-select-dark: hsl(209, 100%, 50%);
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color-primary);
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--base-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.container {
  padding: 2rem 0 0 2rem;
}

.timestamp-box {
  max-width: 45rem;
  border: 1px solid var(--box-color);
}

.timestamp-head {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid var(--box-color);
}

.timestamp-close-btn {
  width: 2rem;
  height: 2rem;
}

.timestamp-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.timestamp-item:hover{
  background-color: hsla(0, 0%, 0%, 0.1);
}

.timestamp-link{
  display: flex;
  align-items: center;
  flex: 1;
}

.timestamp-indicator {
  padding: 0 .5rem;
}
.timestamp-dot {
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: var(--blue-select);
}

.timestamp-thumbnail {
  max-width: 10rem;
  margin-right: 1rem;
}

.timestamp-thumbnail-img {
  width: 100%;
}

.timestamp-share-btn{
  text-align: center;
  cursor: pointer;
  padding: .5rem;
  margin-right: 1.5rem;
}