@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
*:focus {
  outline: none;
}

:root {
  --base-background: #f8f8f8;
  --base-background-secondary: #ececec;
  --base-background-dark: #181818;
  --base-background-dark-secondary: #454545;
  --base-color-primary: #3c3b37;
  --base-color-secondary: #606060;
  --base-color-dark-primary: #fff;
  --base-color-dark-secondary: #aaa;
  --box-color: hsl(0, 0%, 73%);
  --box-color-dark: hsl(0, 0%, 33%);
  --blue-select: hsl(206, 100%, 33%);
  --blue-select-dark: hsl(209, 100%, 50%);
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color-primary);
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--base-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.container {
  padding: 2rem 0 0 2rem;
}

.timestamp-box {
  max-width: 43rem;
  border: 1px solid var(--box-color);
  position: relative;
  overflow-y: hidden;
}

.timestamp-head {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid var(--box-color);
}

.timestamp-close-btn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.timestamp-body {
  max-height: 40rem;
  overflow-y: auto;
  /* for firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 35%) transparent;
}

/* for chrome scrollbar */
.timestamp-body::-webkit-scrollbar {
  width: 1.6rem;
  border-radius: 1rem;
}
.timestamp-body::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 35%);
  border: 0.4rem solid hsl(0, 0%, 100%);
  border-radius: 2rem;
}
.timestamp-body::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 50%);
  border: 0.4rem solid hsl(0, 0%, 100%);
  border-radius: 2rem;
}

.timestamp-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.timestamp-item:hover,
.timestamp-item.timestamp-item-active {
  background-color: hsla(0, 0%, 0%, 0.025);
}
.timestamp-item:last-of-type {
  margin-bottom: 0;
  transition: 0.5s;
}
.timestamp-box:hover .timestamp-item:last-of-type {
  margin-bottom: 5rem;
}

.timestamp-link {
  display: flex;
  align-items: center;
  flex: 1;
}

.timestamp-indicator {
  padding: 0 0.5rem;
}
.timestamp-dot {
  width: 0.7rem;
  height: 0.7rem;
}
.timestamp-item-active .timestamp-dot {
  border-radius: 50%;
  background-color: var(--blue-select);
}

.timestamp-thumbnail {
  display: flex;
  /* display: flex is used to remove 
  bottom space when filled with an image */
  max-width: 10rem;
}
.timestamp-thumbnail-img {
  border: 2px solid transparent;
  background-color: transparent;
  width: 100%;
}
.timestamp-item-active .timestamp-thumbnail-img {
  border: 2px solid var(--blue-select);
  background-color: var(--blue-select);
}

.timestamp-detail {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding-right: 1rem;
}

.timestamp-segment-text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
  max-height: 4rem;
}

.timestamp-time-text {
  background-color: hsl(191, 100%, 96%);
  color: var(--blue-select);
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 0.4rem 0.7rem;
  font-weight: 500;
}

.timestamp-share {
  padding-right: 1.5rem;
}
.timestamp-share-btn {
  cursor: pointer;
  padding: 0.5rem;
}

.timestamp-to-current-time {
  position: absolute;
  bottom: -10rem;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 0;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.timestamp-box:hover .timestamp-to-current-time {
  bottom: 0;
}
.timestamp-to-current-time-btn {
  background-color: hsl(203, 98%, 40%);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
}
