@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Poppins", sans-serif;
  color: #3c3b37;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  min-height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.container {
  padding: 2rem;
}

.d {
  max-width: 20rem;
  position: relative;
}

.d-btn {
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #3c3b37;
  cursor: pointer;
}
.d-btn:hover {
  background-color: #fefefe;
}
.d-btn:active {
  background-color: #f1f1f1;
}

.d-sub {
  opacity: 0;
  position: absolute;
  top: 4rem;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1;
  width: 100%;
  transform: translateY(1rem);
  transition: all 200ms linear;
}
.d-btn.active + .d-sub {
  transform: translateY(0);
  opacity: 1;
}

.d-item {
  padding: 0.5rem 1rem;
}
.d-item:hover {
  background-color: #f1f1f1;
}
