<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="./script.js" defer></script>
  <title>2023-04-12-dropdown-menu</title>
</head>

<body>
  <div class="top-navbar">
    <a href="/index.html">Home</a> | <a
      href="https://www.theodinproject.com/lessons/node-path-javascript-dynamic-user-interface-interactions">Inspiration</a>
  </div>

  <ul class="menu">
    <li class="menu-item"><a href="#" class="menu-link">Menu</a></li>
    <li class="menu-item"><button class="menu-btn-drop">Drop</button>
      <ul class="menu-submenu">
        <li class="menu-item"><a href="#" class="menu-link">Submenu</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Submenu</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Submenu</a></li>
      </ul>
    </li>
    <li class="menu-item"><a href="#" class="menu-link">Menu</a></li>
  </ul>
</body>

</html>