<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>2023-03-23-dropdown-nav</title>
</head>

<body>
    <div class="top-navbar">
        <a href="/index.html">Home</a> | <a
            href="https://www.theodinproject.com/lessons/node-path-javascript-dynamic-user-interface-interactions#drop-down-menus">Inspiration</a>
    </div>

    <nav>
        <div class="logo"><a href="#">MyWebsite</a></div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a>
                <ul>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Elements</a></li>
                    <li><a href="#">Icons</a></li>
                </ul>
            </li>
            <li><a href="#">Services</a>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">App Design</a></li>
                    <li><a href="#">More</a>
                        <ul>
                            <li><a href="#">Design 1</a></li>
                            <li><a href="#">Design 2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</body>

</html>