<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>2023-03-23-dropdown-nav</title>
</head>

<body>
    <div class="top-navbar">
        <a href="/index.html">Home</a> | <a
            href="https://www.theodinproject.com/lessons/node-path-javascript-dynamic-user-interface-interactions#drop-down-menus">Inspiration</a>
    </div>
    <!-- from https://blog.logrocket.com/making-dropdown-menus-css/ -->

    <header class="header">
        <div class="header__content">
            <a class="header__logo" href="#">MyWebsite</a>

            <nav class="nav">
                <ul class="nav__menu">
                    <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
                    <li class="nav__item">
                        <button class="nav__drop">Features</button>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item"><a class="nav__link" href="#">Pages</a></li>
                            <li class="nav__submenu-item"><a class="nav__link" href="#">Elements</a></li>
                            <li class="nav__submenu-item"><a class="nav__link" href="#">Icons</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- menu icon: &#9776; -->
            </nav>
        </div>
    </header>

</body>

</html>