<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>2023-03-23-dropdown-nav</title>
</head>

<body>
    <div class="top-navbar">
        <a href="/index.html">Home</a> | <a
            href="https://www.theodinproject.com/lessons/node-path-javascript-dynamic-user-interface-interactions#drop-down-menus">Inspiration</a>
    </div>

    <nav class="nav">
        <div class="nav__logo"><a href="#">MyWebsite</a></div>
        <ul class="nav__menu">
            <!-- <li class="nav__menu-item"><a class="nav__link" href="#">Home</a></li>
            <li class="nav__menu-item"><a class="nav__link" href="#">Features</a>
                <ul class="nav__menu nav__menu--submenu">
                    <li class="nav__menu-item nav__menu-item--submenu"><a class="nav__link" href="#">Pages</a></li>
                    <li class="nav__menu-item nav__menu-item--submenu"><a class="nav__link" href="#">Elements</a></li>
                    <li class="nav__menu-item nav__menu-item--submenu"><a class="nav__link" href="#">Icons</a></li>
                </ul>
            </li> -->
            <li class="nav__menu-item"><a class="nav__link" href="#">Services</a>
                <ul class="nav__menu nav__menu--submenu">
                    <li class="nav__menu-item nav__menu-item--submenu"><a class="nav__link" href="#">Web Design</a></li>
                    <li class="nav__menu-item nav__menu-item--submenu"><a class="nav__link" href="#">App Design</a></li>
                    <!-- <li class="nav__menu-item nav__menu-item--submenu"><a class="nav__link" href="#">More</a>
                        <ul class="nav__menu nav__menu--submenu-lv2">
                            <li class="nav__menu-item nav__menu-item--submenu-lv2"><a class="nav__link" href="#">Design
                                    1</a></li>
                            <li class="nav__menu-item nav__menu-item--submenu-lv2"><a class="nav__link" href="#">Design
                                    2</a></li>
                        </ul>
                    </li> -->
                </ul>
            </li>
            <!-- <li class="nav__menu-item"><a class="nav__link" href="#">Portfolio</a></li>
            <li class="nav__menu-item"><a class="nav__link" href="#">Contact</a></li> -->
        </ul>
        <ul class="nav__menu nav__menu--mobile">
            <li class="nav__menu-item nav__menu-item--mobile"><a class="nav__link" href="#">&#9776;</a></li>
        </ul>
    </nav>
</body>

</html>