@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Poppins", sans-serif;
  color: #3c3b37;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  min-height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.nav {
  background-color: #1e1e1e;
  color: #fff;
  height: 4rem;
}

.nav__container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  color: #fff;
  height: 100%;
  max-width: 1200px;
}

.nav__logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__mobile {
  display: none;
}

.nav__submenu {
  height: initial;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1e1e1e;
  flex-direction: column;
}

.nav__submenu-lv2 {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #1e1e1e;
  flex-direction: column;
}

.nav__item {
  position: relative;
  min-width: 10rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__link {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.nav__link:hover {
  background-color: #2d2d2d;
  text-decoration: none;
}

.nav__link.nav__link--logo {
  padding: 0 1rem;
  height: 100%;
}

.nav__item:hover > .nav__submenu {
  display: block;
}

.nav__item.nav__item--submenu {
  color: #1b9;
}

.nav__item--submenu:hover > .nav__submenu-lv2 {
  display: block;
}

.nav__item.nav__item--submenu-lv2 {
  background-color: #1e1e1e;
  color: violet;
}

.nav__item.nav__item--mobile {
  min-width: 0;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    display: none;
  }
  .nav__mobile {
    display: block;
  }
}
