@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --blue: #087fda;
  --black: #3c3b37;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Roboto", sans-serif;
  color: #3c3b37;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

/* Grid setup */
.container {
  /* max-width: 144rem; */
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.header {
  grid-column: 2/3;
}

.side {
  grid-row: 1/3;
}

.content {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
}

.content-container.pj {
  grid-row: 1/3;
}

.content-container.tr {
  grid-column: 2/3;
}

/* Element props */
.header {
  background-color: #fff;
  margin-bottom: 2.5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.side {
  background-color: var(--blue);
  color: #fff;
}

.side-group {
  margin-bottom: 5rem;
  margin-left: 2rem;
}
.side-group:first-of-type {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.side-item {
  padding: 0.5rem 0.5rem;
  display: block;
}
.side-item:hover {
  text-decoration: none;
}

.side-icon {
  margin-right: 1rem;
}

.content {
  padding: 0 2.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.card {
  padding: 10px;
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 1rem;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.1);
  min-height: 20rem;
}

.btn {
  background-color: transparent;
  border: transparent;
  border-radius: 5rem;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.btn.btn-blue {
  background-color: var(--blue);
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
.nav > * {
  margin-right: 1rem;
}
.nav > *:last-child {
  margin-right: 3rem;
}
.nav.nav-bottom {
  margin-left: 2rem;
}

.input-text {
  border: transparent;
  background-color: #eee;
  border-radius: 5rem;
  flex: 1;
  margin-right: 10%;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.7rem 1.2rem;
}

.img-profile {
  width: 3rem;
  border-radius: 5rem;
  display: block;
}
.img-profile.img-profile-big {
  width: 5rem;
  margin-right: 2rem;
}

.msg {
  flex: 1;
  font-weight: 600;
}
.msg-small {
  font-size: 1.4;
  margin-bottom: 0.5rem;
}
.msg-uid {
  font-size: 2rem;
}

.name-user {
  font-weight: 600;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card {
  padding: 3rem 2rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card.an {
  padding: 2rem;
  justify-content: initial;
}

.card-item.an {
  border-bottom: 1px solid hsl(0, 0%, 83%);
  margin-bottom: 1.5rem;
}
.card-item.an:last-of-type {
  border-bottom: none;
}

.card-item.tr {
  display: grid;
  grid-template-columns: 7rem 1fr;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  align-items: center;
}
.card-name.tr {
  font-weight: 500;
  align-items: end;
}
.card-text.tr {
  grid-column: 2/3;
  color: hsl(48, 4%, 43%);
  align-self: start;
}
.img-profile.tr {
  grid-row: 1/3;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.card-title.an {
  font-size: 1.6rem;
}

.card-desc {
  flex: 1;
}
.card-desc.an {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card-btns {
  text-align: right;
}

.btn.pj {
  padding: 1rem;
}
