<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>2021-07-26-sidebar-toggle</title>
</head>

<body>
    <div class="top-navbar">
        <a href="/index.html">Home</a>
    </div>

    <div class="container">
        <div class="side"><span>Sidebar</span> <button class="side-btn"><i class="fas fa-times"></i></button></div>
        <div class="main">
            <div class="main-disabled-layer"></div>
            <div class="nav"><button class="nav-btn"><i class="fas fa-bars"></i></button></div>
            <div class="content">Content</div>
        </div>
    </div>

    <script>
        const sidebar = document.querySelector('.side')
        const main = document.querySelector('.main')
        const mainDisabledLayer = document.querySelector('.main-disabled-layer')

        function sidebarIsShown() { return !sidebar.classList.contains('side-hide') }
        function windowWidthIsMobile() { return window.innerWidth < 768 }

        function removemainDisabledLayer() { mainDisabledLayer.classList.remove('show-layer') }
        function showSidebar() { sidebar.classList.remove('side-hide') }
        function shrinkMain() { main.classList.remove('main-full') }

        function disableMainWhenSidebarIsShown() {
            if (!main.classList.contains('main-full')) main.classList.add('main-full')
            if (!mainDisabledLayer.classList.contains('show-layer')) mainDisabledLayer.classList.add('show-layer')
        }

        function expandMainAndHideSidebar() {
            if (!main.classList.contains('main-full')) main.classList.add('main-full')
            if (!sidebar.classList.contains('side-hide')) sidebar.classList.add('side-hide')
        }

        window.onresize = () => {
            if (sidebarIsShown()) {
                if (windowWidthIsMobile()) {
                    disableMainWhenSidebarIsShown()
                } else {
                    shrinkMain()
                    removemainDisabledLayer()
                }
            }
        }

        const btnSideClose = document.querySelector('.side-btn')
        btnSideClose.addEventListener('click', () => {
            expandMainAndHideSidebar()
            removemainDisabledLayer()
        })
        mainDisabledLayer.addEventListener('click', () => {
            expandMainAndHideSidebar()
            removemainDisabledLayer()
        })

        const btnNav = document.querySelector('.nav-btn')
        btnNav.addEventListener('click', () => {
            if (!sidebarIsShown()) {
                if (windowWidthIsMobile()) {
                    showSidebar()
                    disableMainWhenSidebarIsShown()
                } else {
                    shrinkMain()
                    showSidebar()
                }
            } else {
                expandMainAndHideSidebar()
            }
        })
    </script>
</body>

</html>