@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Roboto", sans-serif;
  color: #37393c;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #333;
  /* background-color: #eee; */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  z-index: -100;
}

.container {
  padding: 1rem 2.5rem;
  text-align: center;
  min-height: calc(100vh - 3rem);
  color: #fff;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(5, min-content);
  grid-template-areas:
    "title"
    "search"
    "clock"
    "toggle"
    "weather";
  align-items: center;
  justify-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.title {
  margin: 3rem auto;
  font-size: 4.2rem;
  line-height: 4.2rem;
  font-weight: 400;
  grid-area: title;
}

.search {
  position: relative;
  grid-area: search;
  margin: 0 auto 3rem;
}

.search-input {
  font-size: 2.8rem;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0 auto 1rem;
  width: 30rem;
  background-color: transparent;
  transition: border-color 0.3s ease;
  text-align: center;
}
.search-input::placeholder {
  text-align: center;
}

.search-input:focus {
  outline: none;
  border-color: #4caf50;
}

.search-input.error {
  border-color: #e65858;
}

.search-input.error:focus {
  border-color: #e65858;
}
.error-message {
  color: #e65858;
  font-size: 1.4rem;
  grid-area: error-message;
  text-align: center;
}

.clock {
  margin-bottom: 4.5rem;
  font-weight: 400;
  grid-area: clock;
}

.clock-title {
  font-weight: 400;
}

.clock-time {
  font-size: 4em;
}

.clock-date {
  font-weight: 400;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  grid-area: toggle;
}

.toggle-container {
  display: inline-block;
  position: relative;
  --border: 0rem;
  --padding: 0.3rem;
  --width: 6rem;
  --height: 3rem;
  height: var(--height);
  width: var(--width);
}

.toggle-deg {
  font-size: 3.2rem;
}
.toggle-deg:first-of-type {
  margin-right: 0.5rem;
}
.toggle-deg:last-of-type {
  margin-left: 0.5rem;
}

.toggle-switch {
  opacity: 0;
}

.toggle-label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(127, 191, 255);
  border: var(--border) solid rgb(127, 191, 255);
  box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.5) inset;
  top: 0;
  border-radius: calc(var(--height));
}
.toggle-label::before {
  content: "";
  width: calc(var(--height) - 2 * var(--padding));
  height: calc(var(--height) - 2 * var(--padding));
  top: var(--padding);
  left: var(--padding);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
}
.toggle-switch:checked + .toggle-label::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.weather {
  grid-area: weather;
}

.weather-city {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 2.8rem;
}

.weather-temperature {
  font-size: 4.4rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.weather-img {
  border: 0.3rem solid #fff;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.weather-condition {
  font-size: 2.8rem;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .container {
    grid-template-areas:
      "title title title"
      "search search search"
      "clock toggle weather";
    grid-template-rows: 100px, 200px;
    grid-template-columns: repeat(3, 1fr);
  }

  .toggle-container {
    --border: 0rem;
    --padding: 0.6rem;
    --width: 12rem;
    --height: 6rem;
  }

  .toggle-deg {
    font-size: 5.2rem;
  }
  .toggle-deg:first-of-type {
    margin-right: 0.5rem;
  }
  .toggle-deg:last-of-type {
    margin-left: 0.5rem;
  }

  .weather-city {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 2.8rem;
  }

  .weather-temperature {
    font-size: 4.4rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .weather-img {
    border: 0.3rem solid #fff;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
}
