@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
*:focus {
  outline: none;
}

:root {
  --base-background: #f8f8f8;
  --base-background-secondary: #ececec;
  --base-background-dark: #181818;
  --base-background-dark-secondary: #454545;
  --base-color-primary: #3c3b37;
  --base-color-secondary: #606060;
  --base-color-dark-primary: #fff;
  --base-color-dark-secondary: #aaa;
  /* nav */
  --border: #ccc;
  --border-dark: #303030;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color-primary);
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--base-background);
  /* for firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 35%) transparent;
}
body::-webkit-scrollbar {
  width: 1.4rem;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  border: 0.3rem solid #fff;
  background-color: hsl(0, 0%, 35%);
  border-radius: 1rem;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 50%);
}

a {
  text-decoration: none;
  color: inherit;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  height: 3rem;
  line-height: 3rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.container {
  position: relative;
}

.page {
  display: flex;
}

.nav {
  position: fixed;
  top: 3rem;
  z-index: 1;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 9rem;
  z-index: 1;
}

.card {
  margin-top: 9rem;
  margin-left: 24rem;
}

@media (max-width: 1000px) {
  .side-nav {
    display: none;
  }

  .card {
    margin-left: 0;
  }
}
