@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
*:focus {
  outline: none;
}

:root {
  --blue: #0095da;
  --green: #00b35e;
  --red: #ed1c24;
  --orange: #f37021;
  --yellow: #fdbe28;
  --red-label-background: #ffdee0;
  --red-text: #d90000;
  --white-text: #f8f8f8;
  --white: #fff;
  --grey-btn-background: #f1f1f1;
  --grey-border: #cfcfcf;
  --grey-text: #9e9e9e;
  --black-text: #212121;
  --base-background: #f8f8f8;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Lato", sans-serif;
  color: var(--black-text);
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--base-background);
  /* for firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 35%) transparent;
}
body::-webkit-scrollbar {
  width: 1.4rem;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  border: 0.3rem solid #fff;
  background-color: hsl(0, 0%, 40%);
  border-radius: 1rem;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 50%);
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  height: 7rem;
  background-color: var(--blue);
  color: var(--white-text);
}
.navbar-inner {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch (default) */
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  height: 4rem;
  padding: 0 1.5rem;
}

.navbar-logo {
  padding-top: 0.2rem;
  padding-right: 1rem;
}

.navbar-search-bar {
  position: relative;
  flex: 1;
}

.navbar-search-text {
  border: 1px solid var(--white);
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}

.navbar-search-btn {
  background-color: var(--blue);
  border-radius: 1rem;
  border: 1px solid var(--blue);
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 5rem;
  height: calc(100% - 1rem);
  color: var(--white-text);
  font-size: 1.6rem;
}

.navbar-logo {
  font-size: 2.4rem;
  font-weight: bold;
  padding-right: 3rem;
}

.navbar-cart-btn {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  font-size: 2rem;
  border-radius: 1rem;
  color: var(--white-text);
  position: relative;
  margin: 0 1.8rem;
}

.navbar-cart-label {
  padding: 0.3rem 0.4rem;
  font-size: 1rem;
  background-color: var(--red);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  right: -1rem;
}

.navbar-separator {
  border-left: 1px solid var(--white);
  /* to make rounded line ends */
  border-radius: 1rem;
  margin-right: 2rem;
  margin-left: 0.5rem;
}

.navbar-login-btn {
  flex: 0 0 7rem;
  background-color: var(--blue);
  border: 1px solid var(--white);
  border-radius: 1rem;
  color: var(--white-text);
  margin-right: 1.5rem;
  font-size: 1.4rem;
}

.navbar-signup-btn {
  flex: 0 0 7rem;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 1rem;
  color: var(--blue);
  font-size: 1.4rem;
}
