.bottom-border {
  position: relative;
}
.bottom-border::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--border);
  left: 1rem;
  right: 1rem;
}

.show-on-mobile {
  display: none;
}
@media (max-width: 700px) {
  .show-on-mobile {
    display: revert;
  }
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .page {
    grid-template-columns: 1fr;
  }

  .vc {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .comments {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .side {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
