<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/base-navbar.css">
  <link rel="stylesheet" href="css/footer.css">
  <title>2021-07-23-page</title>
</head>

<body>
  <header class="nav">
    <div class="nav-logo">Logo</div>
    <div id="navBtn" class="nav-btn">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </div>
    <div class="nav-links">
      <a class="nav-link" href="#">Home</a>
      <a class="nav-link" href="#">About</a>
      <a class="nav-link" href="#">Contact</a>
    </div>
  </header>

  

  <footer class="footer">
    <div class="footer-group">
      <div class="footer-col footer-col-logo">
        <div class="footer-logo">
          <i class="fas fa-angle-double-up footer-logo-icon"></i>logo
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-col-title">community</div>
        <a href="#" class="footer-col-link">About</a>
      </div>
      <div class="footer-col">
        <div class="footer-col-title">community</div>
        <a href="#" class="footer-col-link">About</a>
      </div>
      <div class="footer-col">
        <div class="footer-col-title">community</div>
        <a href="#" class="footer-col-link">About</a>
      </div>
    </div>
    <div class="footer-group footer-group-nav">
      <div class="footer-nav">&#169; 2021 logo. All rights reserved</div>
      <div class="footer-nav footer-nav-links">
        <a href="#" class="footer-nav-link">About</a>
      </div>
      <div class="footer-nav footer-nav-social">
        <a href="#" class="footer-nav-link footer-nav-link-social"><i class="fab fa-twitter"></i></a>
        <a href="#" class="footer-nav-link footer-nav-link-social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer-nav-link footer-nav-link-social"><i class="fab fa-github"></i></a>
        <a href="#" class="footer-nav-link footer-nav-link-social"><i class="fab fa-dribbble"></i></a>
      </div>
    </div>
  </footer>

  <script src="script.js"></script>
</body>

</html>