<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>2021-07-09-cards</title>
</head>

<body>
    <div class="top-navbar">
        <a href="/index.html">Home</a> | <a
            href="https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/sign-up-form">Source</a>
    </div>

    <div class="container">
        <div class="side-logo">
            <div class="logo-container">
                <img class="logo-img"></img>
                <span class="logo-text">CEK</span>
            </div>
        </div>
        <div class="side-form">
            <div class="top">
                <p class="top-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias mollitia maxime,
                    exercitationem similique voluptatem deserunt expedita veniam tempora iste inventore illum obcaecati
                    impedit. Corrupti modi harum vitae quaerat beatae quisquam!</p>
                <p class="top-text">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="middle">
                <p class="middle-text">Lorem ipsum dolor!</p>
                <div class="input-row">
                    <div class="input-item">
                        <div class="input-label">first name</div>
                        <input type="text" class="input-text">
                    </div>
                    <div class="input-item">
                        <div class="input-label">last name</div>
                        <input type="text" class="input-text">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-item">
                        <div class="input-label">email</div>
                        <input type="text" class="input-text">
                    </div>
                    <div class="input-item">
                        <div class="input-label">phone number</div>
                        <input type="text" class="input-text">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-item">
                        <div class="input-label">password</div>
                        <input type="text" class="input-text input-text-error">
                    </div>
                    <div class="input-item">
                        <div class="input-label">confirm password</div>
                        <!-- todo: create error text -->
                        <input type="text" class="input-text input-text-error">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <button class="btn-sign-up">Create Account</button>
                <div class="bottom-text">Already have account. <a href="#" class="link-sign-in">Sign In</a></div>
            </div>
        </div>
    </div>
</body>

</html>