a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  &-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
}

.column {
  background-color: #ededed;
  padding: 1.2rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  max-width: 60rem;

  &-loading{
    color: hsl(48, 4%, 63%);
    font-size: 1.2rem;
  }

  &-header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #3c3b37;
    padding-left: 0.8rem;
  }

  &-body {
    margin-bottom: 1rem;
  }

  &-footer {
    display: flex;
    justify-content: end;
  }
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

  &-header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.todo {
  background-color: #fff;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.selected {
    background-color: #8ee19f;
    text-decoration: line-through;
  }

  &-btn {
    padding: 0.5rem;
    margin-left: 0.5rem;
    border: transparent;
    border-radius: 0.3rem;
    background-color: #ededed;

    &-delete * {
      pointer-events: none;
    }

    &:hover {
      background-color: hsl(0, 0%, 85%);
    }
    &:active {
      background-color: hsl(0, 0%, 75%);
    }
  }

  &-title {
    padding: 1rem;
    flex: 1;
    border: none;
    color: #3c3b37;
    background-color: transparent;
    border: 2px solid transparent;
    outline: none;
    border-radius: 0.3rem;

    &:focus {
      text-decoration: underline;
      border: 2px solid hsla(48, 4%, 53%, 50%);
    }
  }

  &-chk {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}

.notification {
  position: fixed;
  top: -999rem;
  right: 1rem;
  z-index: 10;
  max-width: 35rem;
  height: auto;
  padding: 1rem;
  background-color: rgba(229, 0, 19);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  opacity: 0%;
  transition: opacity 0.3s;

  &:hover {
    opacity: 90%;
  }

  &.reveal {
    top: 1rem;
  }

  &.show {
    opacity: 80%;
    transition: opacity 0.3s;
    &:hover {
      opacity: 90%;
    }
  }

  &-header {
    margin-bottom: 1rem;
  }

  &-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-close {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem;
    font-weight: 600;
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: 2rem;
  }
}

.del-notif {
  background-color: #eee;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;

  .del-btn {
    margin-left: 0.8rem;
    border: 1px solid transparent;
    background-color: #ddd;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: 500;

    &:hover {
      background-color: #ccc;
    }
    &:active {
      background-color: #bbb;
    }
  }
}
