@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
*:focus {
  outline: none;
}

:root {
  --base-background: #f8f8f8;
  --base-background-secondary: #ececec;

  --base-background-dark: #181818;
  --base-background-dark-secondary: #454545;

  --base-color-primary: #3c3b37;
  --base-color-secondary: #606060;

  --base-color-dark-primary: #fff;
  --base-color-dark-secondary: #aaa;

  --separator-color: #e3e3e3;
  --separator-color-dark: #181818;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color-primary);
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--base-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.container {
  padding: 2rem 0;
}
.container-dark {
  background-color: var(--base-background-dark);
}

.nav-tag {
  background-color: #fff;
  border-top: 0.1rem solid var(--separator-color);
  border-bottom: 0.1rem solid var(--separator-color);
  display: flex;
  position: relative;
  min-height: 5rem;
  padding: 0.5rem 1.5rem;
  align-items: center;
  overflow: hidden;
}

.nav-tag-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  width: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.nav-tag-arrow:first-of-type {
  left: 0;
}
.nav-tag-arrow:last-of-type {
  right: 0;
}
.nav-tag-arrow-icon {
  cursor: pointer;
  height: 2rem;
}

.nav-tag-arrow::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  width: 4rem;
}
.nav-tag-arrow:first-of-type::before {
  right: -4rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 4rem;
}
.nav-tag-arrow:last-of-type::before {
  left: -4rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 4rem;
}

.nav-tag-item {
  border: 0.1rem solid hsl(0, 0%, 85%);
  padding: 0.7rem;
  border-radius: 5rem;
  background-color: hsl(0, 0%, 95%);
  margin: 0 0.6rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s;
}

.nav-tag-item.nav-tag-active {
  color: #fff;
  background-color: var(--base-background-dark);
  border-color: var(--base-background-dark);
}
.nav-tag-item:hover {
  background-color: hsl(0, 0%, 90%);
}
.nav-tag-item:hover.nav-tag-active {
  background-color: hsl(0, 0%, 70%);
  border-color: hsl(0, 0%, 70%);
}

/* dark mode */
.nav-tag-dark {
  background-color: #202020;
  border-top: 0.1rem solid hsl(0, 0%, 30%);
  border-bottom: 0.1rem solid hsl(0, 0%, 30%);
}

.nav-tag-dark .nav-tag-arrow {
  color: #fff;
  background-color: #202020;
}
.nav-tag-dark .nav-tag-arrow:first-of-type::before {
  background: rgb(32, 32, 32);
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(32, 32, 32, 0) 100%
  );
}
.nav-tag-dark .nav-tag-arrow:last-of-type::before {
  background: rgb(32, 32, 32);
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 0) 0%,
    rgba(32, 32, 32, 1) 100%
  );
}

.nav-tag-dark .nav-tag-item {
  color: #fff;
  border: 0.1rem solid hsl(0, 0%, 27%);
  background-color: hsl(0, 0%, 20%);
}

.nav-tag-dark .nav-tag-item.nav-tag-active {
  color: var(--base-color-primary);
  background-color: #fff;
  border-color: #fff;
}
.nav-tag-dark .nav-tag-item:hover {
  background-color: hsl(0, 0%, 30%);
}
.nav-tag-dark .nav-tag-item:hover.nav-tag-active {
  background-color: hsl(0, 0%, 80%);
  border-color: hsl(0, 0%, 80%);
}
