@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #3c3b37;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.top-navbar {
  text-align: center;
  background-color: lightgreen;
  min-height: 3rem;
  line-height: 3rem;
}
.top-navbar a {
  text-decoration: none;
  color: inherit;
}
.top-navbar a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem;
}

.inner-container {
  display: flex;
  justify-content: space-between;
}

.action-menu {
  position: relative;
}

.action-menu__btn {
  border: 1px solid #63615c;
  border-radius: 0.5rem;
  background-color: #fafafa;
  font-size: 1.6rem;
}

.action-menu__option {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  z-index: 10;
  background-color: #fefefe;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
}

.action-menu__option.active {
  display: block;
}

.action-menu__option-item {
  cursor: pointer;
  padding: 0 1rem;
  white-space: nowrap;
  font-size: 1.2rem;
  height: 2em;
  display: flex;
  align-items: center;
}
.action-menu__option-item:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
}
.action-menu__option-item:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}

.action-menu__option-item:hover {
  background-color: #efefef;
}
